@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
  padding: 0;
  z-index: 1;
  font-family: 'Roboto Slab', serif;
}

:root {
  --navigation_padding: .5rem;
  --navigation_height: 2rem;

  --background_color: white;
  --text_color: black;
  --foreground_color: lightblue;
  --shadow_color: ;
  --highlight_color: #ffff99;

  background-color: var(--background_color);
  color: var(--text_color);
}



#Navigation {
  position: fixed;
  display: flex;

  background-color: var(--background_color);

  height: var(--navigation_height);
  width: calc(100% - calc(var(--navigation_padding) * 2));
  

  padding: var(--navigation_padding);

  align-items: center;
  z-index: 100;

  
  & a{
    width: auto;
    text-decoration: none;
  }

  & .navbar-item{
    display: inline;
    color: black;
    margin-left: .75rem;
    margin-right: .75rem;
  }

  & .navbar-logo{
    margin-left: auto;
    filter: brightness(0);
  }

  & .socials{
    margin-left: auto;
  }

  & img{
    margin-top: 5%;
    width: auto;
    height: 1.9rem;
  }
}

.navbar-spacer {
  height: calc(var(--navigation_height) + calc(var(--navigation_padding) * 2));
}


.light-switch{
  background-color: grey;
  border: solid black 3px;
  width: 2.5rem;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
  box-shadow: inset 0 0 20px var(--shadow_color);

  & .light-switch-pivot {
    transition:
      left .5s,
      background-color 1s;
    left: 0;
    background-color: var(--highlight_color);
    width: 1.3rem;
    height: 100%;
    border-radius: 100%;
    position: absolute;
  }
}


#Hero{
  position: relative;
  background-color: var(--foreground_color);
  overflow: hidden;
  height: calc(100vh - 2.75rem);
  
  & div{
    position: absolute;
  }

  & .self-introduction{
    display: inline;
    margin: 0;
    font-size: 24px;
    bottom: 70%;
    right: 58%;
    & span{
      background-color: var(--highlight_color);
    }
  }

  & #Hero-Grid{
    width: 100%;
    height: 100%;
    position: relative;
    

    & .gridLine {
      transition:
        height 2s,
        width 2s;

      position: absolute;
      opacity: 40%;
      height: 1%;
      width: 0%;
    }
  }
}


.sticky-note {
  right: 2.5%;
  top: 5%;
  border-radius: 10px;
  padding: 2%;
  width: 15%;
  background-color: var(--highlight_color);
  overflow: hidden;

  & h3 {
    text-align: center;
    margin: 0;
    padding: 0;
  }

  & form {
    margin-top: 15%;
  }

  & form:first-of-type {
    margin-top: 20%;
  }

  &  form > input, label, select{
    display: block;
    width: 100%;
  }
}

button {
  padding: 2%;
  margin-top: 5%;
}