@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
  padding: 0;
  z-index: 0;
  font-family: 'Roboto Slab', serif;
}

p, a, li {
  font-size: 18px;
}

.webpage-in-development {
  transition: margin-top 1s, opacity 1s, visibility 1s;
  background-color: yellow;
  padding: 1rem;
  display: flex;
  position: fixed;
  width: calc(100vw - 3rem);
  z-index: 101;
  align-items: center;

  & .warning-x-button{
    width: 2rem;
    height: 2rem;
    background-color: black;
    margin-left: auto;
  }

  & span {
    font-weight: bold;
    font-size: 18px;
  }
}

:root {
  --navigation_padding: .5rem;
  --navigation_height: 2rem;

  --background_color: white;
  --text_color: black;
  --foreground_color: lightblue;
  --shadow_color: ;
  --highlight_color: #ffff99;
  --highlight_color_red: #FD8A8A;
  --highlight_color_orange: #ecb164;

  background-color: var(--background_color);
  color: var(--text_color);
}

#Navigation {
  position: fixed;
  display: flex;

  background-color: var(--background_color);

  height: var(--navigation_height);
  width: calc(100% - calc(var(--navigation_padding) * 2));
  

  padding: var(--navigation_padding);

  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.404);

  align-items: center;
  z-index: 100;

  
  & a{
    width: auto;
    text-decoration: none;
  }

  & .navbar-item{
    display: inline;
    color: black;
    margin-left: .75rem;
    margin-right: .75rem;
  }

  & .navbar-logo{
    margin-left: auto;
    filter: brightness(0);
  }

  & .socials{
    margin-left: auto;
  }

  & img{
    margin-top: 5%;
    width: auto;
    height: 1.9rem;
  }
}

.navbar-spacer {
  height: calc(var(--navigation_height) + calc(var(--navigation_padding) * 2));
}

#Hero{
  position: relative;
  background-color: var(--foreground_color);
  overflow: hidden;
  height: calc(100vh - 2.75rem);
  
  & div{
    position: absolute;
  }

  & .self-introduction{
    display: inline;
    margin: 0;
    font-size: 24px;
    bottom: 70%;
    right: 58%;
    & span{
      background-color: var(--highlight_color);
    }
  }
}

.sticky-note {
  right: 2.5%;
  top: 5%;
  border-radius: 10px;
  padding: 2%;
  width: 15%;
  background-color: var(--highlight_color);
  overflow: hidden;

  & h3 {
    text-align: center;
    margin: 0;
    padding: 0;
  }

  & form {
    margin-top: 15%;
  }

  & form:first-of-type {
    margin-top: 20%;
  }

  &  form > input, label, select{
    display: block;
    width: 100%;
  }
}

button {
  padding: 2%;
  margin-top: 5%;
}

.grid{
  width: 100%;
  height: 100%;
  position: relative;
  

  & .gridLine {
    transition:
      height 2s,
      width 2s,
      transform 10s;

    position: absolute;
    opacity: 40%;
    height: 1%;
    width: 0%;
    transform: rotate(0deg);
  }
}

#About-Me {
  padding: 2rem;
  /* display: flex; */
  background-image: linear-gradient(lightblue, white);
}

.card-container {
  margin: 2rem;
  background-color: white;
  padding: 2rem;
  margin-top: 0;

  box-shadow: -10px 10px 0px rgb(209, 115, 218);
  /* border: solid black 1px; */
  border-radius: 10px;

  & .content {
    display: flex;
  }

  & img {
    border-radius: 100%;
    padding: 1rem;
    width: 20%;
    height: 20%;
    margin: auto;
  }

  & p {
    padding: 1rem;
  }

  & span, a {
    font-style: italic;
    font-size: 15px;
  }

  & a {
    cursor: pointer;
    color: blue;
  }

  & h1, h3, .options {
    display: inline;
    cursor: pointer;
  }

  & h3:first-child{
    margin-left: 1.4rem;
  }

  & h3 {
    margin-left: .75rem;
  }

  & h1:hover, h3:hover {
    transition: all 0.5s;
    color: blue;
  }

  & .header-options {
    margin-bottom: 1rem;
    border-bottom: solid black 1px;
  }
}
