#About-Me {
    background-color: var(--background_color);
    border: var(--foreground_color) 1px solid;
    border-radius: 10px;
    box-shadow: -10px 10px 0px var(--foreground_color);
    margin: 2rem;
    padding: 2rem;


    & .content {
        display: grid;
        grid-template-columns: 80% 20%;
        place-items: center;
        border-top: 1px solid var(--foreground_color);
    }



    & .header-options .option {
        display: inline-block;
        margin-left: 1rem;
    }

    & .header-options .option:first-child {
        margin-left: 0rem;
        display: block;
    }

    & .image-container {
        width: 15rem;
        height: 15rem;
        object-fit: contain;
        justify-content: center;
        overflow: hidden;
        border-radius: 100%;
        box-shadow: -10px 10px 0px var(--foreground_color);
        border: var(--foreground_color) 1px solid;

        & img {
            width: 100%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            transform: scale(1.25) translate(10px, -10px);
        }
    }


}
