#Hero {
    position: relative;
    background-color: var(--foreground_color);
    overflow: hidden;
    height: calc(100vh - 2.75rem);
}
 
#Hero div {
    position: absolute;
}

#Hero .self-introduction {
    display: inline; 
    margin: 0;
    font-size: 24px;
    bottom: 70%;
    right: 58%;
}

#Hero .self-introduction span {
    background-color: var(--highlight_color);
}

#Hero label {
    font-weight: bold;
}

#World-Settings {
    position: absolute;
    right: 3%;
    top: 3%;
    width: 20%;
    text-align: center;
}

@media screen and (min-width: 1300){
    #World-Settings {
    }
}

#World-Settings input[type="range"] {
    display: inline-block;
    width: 100%;
    cursor: pointer;
}

#Hero input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: inset 0px 0px 8px var(--shadow_color);
    background-color: var(--background_color);
    border-radius: 2rem;
    border-top: 1px solid rgb(76, 141, 163);
    border-right: 1px solid rgb(76, 141, 163);
    height: 1.5rem;
}

#Hero input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1.5rem;
    border-radius: 100%;
    width: 1.5rem;
    background-color: black;
    
}

#Hero input[type="range"]::-moz-slider-thumb {
    height: 2rem;
    width: 2rem;
}

#Ball-Creation {
    position: absolute;
    right: 3rem;
    bottom: 20%;
    width: 17%;
    padding: 2rem;
    border-radius: 2rem;
    background-color: var(--highlight_color);
}

@media screen and (max-width: 1300px) {
    #Ball-Creation {
        visibility: hidden;
    }
}

#Ball-Creation h2 {
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid black;
}

#Ball-Creation input[type="text"] {
    background-color: white;
}

#Ball-Creation input[type="text"], #Ball-Creation select {
    width: 100%;
    height: 2rem;
}

#Ball-Creation button {
    float: right;
    padding: .5rem;
    border-radius: 2rem;
}

#Ball-Creation input[type="range"] {
    width: 100%;
}

#Ball-Creation form {
    margin-top: 2rem;
}

.grid {
    width: 100%;
    height: 100%;
    position: absolute;
}

.grid .gridLine {
    transition:
        height 2s,
        width 2s,
        transform 10s;

    position: absolute;
    opacity: 40%;
    height: 1%;
    width: 0%;
    transform: rotate(0deg);
}