#Hero {
    position: relative;
    background-color: var(--foreground_color);
    overflow: hidden;
    height: calc(100vh - 2.75rem);
}
 
#Hero div {
    position: absolute;
}

#Hero .self-introduction {
    margin: 0;
    font-size: 24px;
    bottom: 50%;
    right: 50%;
}

#Hero .self-introduction span {
    background-color: var(--highlight_color);
    padding: 0 1rem;
}

#Hero label {
    font-weight: bold;
}

#World-Settings {
    position: absolute;
    right: 15%;
    top: 0%;
    width: 25%;
    transform: translate(50%, 50%);
    text-align: center;
}

#Ball-Creation {
    position: absolute;
    transform: translate(50%, 50%);
    right: 15%;
    bottom: 50%;
    width: 22%;
    padding: 2rem;
    border-radius: 2rem;
    background-color: var(--highlight_color);
}

@media screen and (max-width: 1300px){
    #World-Settings {
        right: 50%;
        width: 80%;
    }

    #Hero .self-introduction {
        text-align: center;
        right: 50%;
        bottom: 80%;
        width: 90%;
        top: 25%;
        transform: translate(50%, 50%);
    } 
    #Hero .self-introduction h1:last-child {
        margin-top: 3rem;
    }

    #Ball-Creation {
        visibility: hidden;
    }
}

#World-Settings input[type="range"] {
    display: inline-block;
    width: 100%;
    cursor: pointer;
}

#Hero input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: inset 0px 0px 8px var(--shadow_color);
    background-color: var(--background_color);
    border-radius: 2rem;
    border-top: 1px solid rgb(76, 141, 163);
    border-right: 1px solid rgb(76, 141, 163);
    height: 1.5rem;
}

#Hero input[type="range"]::-moz-range-track {
    -webkit-appearance: none;
    box-shadow: inset 0px 0px 8px var(--shadow_color);
    background-color: var(--background_color);
    border-radius: 2rem;
    border-top: 1px solid rgb(76, 141, 163);
    border-right: 1px solid rgb(76, 141, 163);
    height: 1.5rem;
}

#Hero input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1.5rem;
    border-radius: 100%;
    width: 1.5rem;
    background-color: black;
    
}

#Hero input[type="range"]::-moz-slider-thumb {
    -webkit-appearance: none;
    height: 1.5rem;
    border-radius: 100%;
    width: 1.5rem;
    background-color: black;
}

#Ball-Creation h2 {
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid black;
}

#Ball-Creation input[type="text"] {
    background-color: white;
}

#Ball-Creation input[type="text"], #Ball-Creation select {
    width: 100%;
    height: 2rem;
}

#Ball-Creation button {
    float: right;
    padding: .5rem;
    border-radius: 2rem;
}

#Ball-Creation input[type="range"] {
    width: 100%;
}

#Ball-Creation form {
    margin-top: 2rem;
}

.grid {
    width: 100%;
    height: 100%;
    position: absolute;
}

.grid .gridLine {
    transition:
        height 2s,
        width 2s,
        transform 10s;

    position: absolute;
    opacity: 40%;
    height: 1%;
    width: 0%;
    transform: rotate(0deg);
}