<div>
  <h2>Goals</h2>
  <ul>
    <li>Get a Job as a Software Engineer</li>
      <p>Getting a job as a software developer is my front most goal. I
        want to start my career, and get better at coding. I'd prefer to
        work remote so I can stay around my family but I am open to opportunities.
      </p>
    <li>Create a Commercial Video Game</li>
      <p>This is a long term goal for me, I have had a lot of ideas about a lot of
        different games. Right now I have a blockade when it comes to the financial
        side of creating a business and commissioning resources.
      </p>
    <li>Build a Tiny House</li>
      <p>I really like having super organized compact layouts, and I think a house
        with those same philosophies would be awesome. There are a lot of benefits
        to owning a tiny house, I would love to live somewhere that I designed.
      </p>
    <li>Learn How to Grow Plants</li>
      <p>This is a... a.. short term goal. I'm sure you just put seeds in a hole with
        good soil, but I never looked into it. This is another goal that requires
        a financial investment so I can't quite get into it yet. BUT WHEN I DO, there
        will be FAUNA.
      </p>
  </ul>
</div>