<div>
  <h2>Hobbies</h2>
  <ul>
    <li>Drawing | <span>See <a onclick="ChangeContents(event, document.getElementById('About-Me'))" class="option" value="doodle-gallery">Doodle Gallery</a></span></li>
      <p>I've been drawing ever since I was a little kid. This has persisted
        into my adulthood, I love creating visual representations of my
        concepts. I am a big fan of using ink, when I was in school I used
        to draw only using micron pens. I actually won second place in a local
        art show using a single fine line pen.
      </p>
    <li>Painting | <span>See <a onclick="ChangeContents(event, document.getElementById('About-Me'))" class="option" value="doodle-gallery">Doodle Gallery</a></span></li>
      <p>I've been painting for a similarly long time as I've been drawing.
        I really love creative mediums, they have parallels to coding as well.
        With art you are trying to convey your ideas as effectively as possible,
        this activates the problem solving side of the brain in the same way coding
        does. My favorite painting media has to be a toss up between watercolor and
        acrylic.
      </p>
    <li>Creating Video Games</li>
      <p>When I was in middle school I used to use a Minecraft Bukkit plugin called
        Skript to create mini-games. I had a lot of fun creating and playing games
        with my friends. I eventually want to create my own commercial video game
        but I am still learning and growing. I have a decent amount of experience
        in Unity but I recently swapped to Godot due to controversies with Unity's
        business decisions.
      </p>
    <li>Playing Video Games</li>
      <p>Gaming has also been a hobby of mine since childhood. I love relaxed games
        like Pokemon, Minecraft, and Teamfight Tactics. Although I spend quite a lot
        of time in competitive games. League of Legends is probably the game I am best
        at, while CSGO and Valorant are always fun to play with friends. A fun fact about
        me is that I was ranked in the top 1% of players in North America at League of Legends
        in 2021.
      </p>
    <li>Fitness</li>
      <p>I've recently started picking up fitness. I want to try and improve on my mental and physical health.
        I do not have much experience with this hobby but I hope the benefits become more and more visible. 
        Weight lifting and calisthenics are what I enjoy most. 
      </p>
  </ul>
</div>