<h2>Technical Skills</h2>
<div class="technical-skills">
  <div class="skill-list-container">
    <h3>Languages</h3>
    <ul class="skill-list">
      <!-- Languages -->
      <li>CSS</li>
      <li>HTML</li>
      <li>Javascript</li>
      <li>Typescript</li>
      <li>Python</li>
      <li>C#</li>
      <li>PHP</li>
      <li>Java</li>
      <li>SQL</li>
    </ul>
  </div>

  <div class="skill-list-container">
    <h3>Back-End</h3>
    <ul class="skill-list">
      <!-- Backend -->
      <li>Django</li>
      <li>FastAPI</li>
      <li>PostgreSQL</li>
      <li>MongoDB</li>
      <li>MySQL</li>
      <li>RabbitMQ</li>
      <li>ETL Pipelines</li>
    </ul>
  </div>

  <div class="skill-list-container">
    <h3>Front-End</h3>
    <ul class="skill-list">
      <!-- Front end -->
      <li>DOM Manipulation</li>
      <li>React</li>
      <li>React Hooks</li>
      <li>Nginx</li>
      <li>SCSS</li>
      <li>TailwindCSS</li>
      <li>Bootstrap</li>
      <li>Redux</li>
    </ul>
  </div>

  <div class="skill-list-container">
    <h3>Network Communications</h3>
    <ul class="skill-list">
      <!-- Network communications -->
      <li>Docker</li>
      <li>Reverse Proxies</li>
      <li>Load Management</li>
      <li>Network Segmentation</li>
    </ul>
  </div>
  
  <div class="skill-list-container">
    <h3>Infrastructure</h3>
    <ul class="skill-list">
      <!-- Infrastructure -->
      <li>Message Passing</li>
      <li>Microservices</li>
      <li>Web Sockets</li>
      <li>Monolith Architecture</li>
      <li>Domain Driven Design</li>
      <li>Event Sourcing</li>
      <li>SSL</li>
    </ul>
  </div>

  <div class="skill-list-container">
    <h3>Game Development</h3>
    <ul class="skill-list">
      <!-- Games -->
      <li>Godot</li>
      <li>Unity</li>
      <li>Pygame</li>
      <li>Spigot</li>
      <li>Bukkit</li>
      <li>Skript</li>
      <li>Game Maker Studio</li>
    </ul>
  </div>

  <div class="skill-list-container">
    <h3>UI/UX</h3>
    <ul class="skill-list">
      <!-- Art -->
      <li>Figma</li>
      <li>Photoshop</li>
      <li>Illustrator</li>
      <li>Gray Boxing</li>
    </ul>
  </div>
</div>